.title {
  color: rgb(51, 12, 12);
  text-align: center;
  width: 70%;
  margin: 2% auto;
  animation: anim 10s infinite;
  border-radius: 10px;
  font-size: 2vw;
}

@keyframes anim {
  0% { background-color: red; }
  25% { background-color: yellow; }
  50% { background-color: blue; }
  100% { background-color: green; }
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.control {
  width: 40%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  margin: auto;
}

.start_control,
.reset_control {
  background-color: blue;
  text-align: center;
  text-decoration: none;
  width: 30vw;
  height: 3vw;
  border-radius: 5px;
  padding: 1vw 1vw;
  margin: 5vw 2vw;
  font-size: 3vw;
  color: white;
  transition: background-color 2s;
}

.start_control:hover,
.reset_control:hover {
  background-color: red;
}

.tablero {
  flex-wrap: wrap;
  width: 30vw;
  text-align: center;
}

.zonas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 4% 0;
}

.borde-left {
  border-left: solid 3px red;
}

.borde-bottom {
  border-bottom: solid 3px red;
}

input {
  text-align: center;
  width: 80%;
  height: 4vw;
  font-size: 2vw;
}

.rect {
  width: 50%;
}

.winner {
  margin: auto;
  display: none;
  color: rgb(33, 142, 146);
  font-size: 2.7vw;
  width: 30vw;
  text-align: center;
  font-weight: bold;
  animation: anim 10s infinite;
}
